.button {
  border: 2px solid $neutral-dark;
  border-radius: 4px;
  box-shadow: 0 2px 0 $neutral-dark;
  color: #fff;
  display: inline-block;
  font-weight: 700;
  margin: 1em 0 2em 0;
  outline: none;
  padding: .25em .5em;
  text-shadow: 1px 1px 0 $neutral-dark;
  text-decoration: none;
  transition: transform .3s ease;

  &:hover,
  &:focus {
    box-shadow: 0 3px 0 $neutral-dark;
    transform: scale3d(1.01, 1.01, 1);
  }

  &:active {
    box-shadow: none;
  }
}

a.primary-button {
  @extend .button;
  background: $orange;
  &:hover,
  &:focus {
    background: $lighter-orange;
  }
}

a.secondary-button {
  @extend .button;
  background: $blue;
  &:hover,
  &:focus {
    background: $lighter-blue;
  }
}
