$blue: #007EC7;
$lighter-blue: lighten($blue, 10%);
$darker-blue: darken($blue, 10%);

$orange: #DA9146;
$lighter-orange: lighten($orange, 10%);
$darker-orange: darken($orange, 10%);

$neutral-light: #FFFCF2;

$neutral-mid: #C5BEB8;

$neutral-dark: #272625;
$lighter-neutral-dark: lighten($neutral-dark, 10%);
$darker-neutral-dark: darken($neutral-dark, 10%);
